html {
  font-size: 14px; }

body {
  background: #f8bccf;
  padding: 1vw 3vw;
  box-sizing: border-box; }

.App {
  text-align: center;
  font-family: "Newcastle-BasicRusty"; }

.App-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
  color: #fff; }
  .App-header h1 {
    margin: 0; }

.username {
  font-size: 2em;
  margin: 0;
  color: #333;
  font-family: "Milkshake";
  margin-top: 1em; }

h1 {
  font-size: 4em;
  font-family: 'Milkshake', sans-serif;
  text-shadow: 3px 3px 0 #333; }

h2 {
  font-size: 3em; }

h3 {
  font-family: "Newcastle-BasicRusty";
  font-size: 2.5em; }

p {
  line-height: 1.6; }

ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

li {
  margin-bottom: 1em; }

label, input, button {
  display: block;
  margin: 0 auto 10px; }

.underline {
  text-decoration: underline; }

div {
  box-sizing: border-box; }

label, button {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .05em; }

label {
  margin-bottom: 2em; }

input {
  height: 30px;
  font-size: 2em;
  font-family: inherit;
  border: none;
  outline: none;
  border-bottom: 2px solid #222; }

button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  background: #222;
  color: #fff;
  cursor: pointer !important; }
  button:hover {
    background: #444; }
  button:focus {
    outline: none; }

.button-large {
  padding: .5em 3em;
  font-size: 1.2em; }

.container {
  width: 100%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.container__inner {
  width: 100%;
  flex-grow: 3; }

.popup-container {
  width: 100vw;
  height: 100vh;
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8bccf; }

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  text-align: left;
  z-index: 999;
  border: 10px dotted #333;
  padding: 1em 3em;
  width: 600px;
  min-height: 600px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  background: #fff; }
  .popup label, .popup input, .popup h3, .popup p {
    text-align: center; }
  .popup input {
    width: 90%;
    margin-bottom: 1em; }
  .popup .nameInput {
    margin-top: 3em; }

/*****************************************/
/************** INSTRUCTIONS *************/
/*****************************************/
.instructions ol, .instructions p {
  text-align: left; }

.instructions ol {
  margin: 2.5em auto; }

.instructions h3, .instructions h4 {
  text-align: center; }

.instructions h3 {
  margin-bottom: 0; }

.instructions h4 {
  font-family: "Milkshake";
  font-size: 2em;
  margin: 0; }

.instructions p {
  opacity: .4; }

/*****************************************/
/************* CLICK COUNTER *************/
/*****************************************/
.counter {
  font-size: 6em;
  font-family: "Newcastle-BasicClean" !important; }

.current-increment {
  width: 20%;
  font-size: 1.2em;
  text-align: left;
  flex-grow: 1; }

/*****************************************/
/*************** UPGRADES ****************/
/*****************************************/
.upgrades {
  display: flex;
  justify-content: center;
  margin: 80px auto; }
  .upgrades .upgrade + .upgrade {
    margin-left: 20px; }
  .upgrades .upgrade1 button {
    background: #fff37c; }
  .upgrades .upgrade2 button {
    background: tomato; }
  .upgrades .upgrade3 button {
    background: wheat; }
  .upgrades .upgrade4 button {
    background: red; }
  .upgrades .upgrade5 button {
    background: #8ddd8d; }
  .upgrades button {
    cursor: pointer;
    height: 100px;
    width: 100px; }
    .upgrades button:disabled, .upgrades button[disabled] {
      cursor: not-allowed;
      background: #777;
      color: #444; }

/*****************************************/
/************* SCORE BOARD ***************/
/*****************************************/
.score-board {
  align-self: flex-start;
  padding: 2em 1em;
  width: 20%;
  min-width: 240px;
  border: 6px dotted #333;
  z-index: 1;
  flex-grow: 1; }
  .score-board h4 {
    font-family: "Milkshake";
    font-size: 2em;
    margin: 0 0 .7em; }

/*****************************************/
/*************** FEEDBACK ****************/
/*****************************************/
.feedback {
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width: 60%;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-animation-name: katching;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0, 0.28, 0.12, 0.49);
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */ }
  .feedback p {
    width: 100%; }

@-webkit-keyframes katching {
  0% {
    transform: translateY(-200px);
    opacity: 1; }
  20% {
    opacity: 1; }
  100% {
    transform: translateY(-500px);
    opacity: 0; } }

.guacamole {
  width: 100%;
  margin: 0 auto 30px; }

/*****************************************/
/********** FUNCTIONAL STYLES ************/
/*****************************************/
.hidden {
  display: none; }
