html {
  font-size: 14px;
}

.App {
  text-align: center;
  font-family: 'Soleil';
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.username {
  font-size: 1.5em;
  margin: 0;
  position: absolute;
  top: 30px;
  right:30px;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

p {
  line-height: 1.6;
}

label, input, button {
  display: block;
  margin: 0 auto 10px;
}

div {
  box-sizing: border-box;
}

label, button {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .05em;
}

label {
  margin-bottom: 2em;
}

input {
  height:40px;
  font-size: 2em;
  font-family: inherit;
  border:none;
  outline:none;
  border-bottom: 1px solid #222;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  background: #222;
  color:#fff;
  &:hover {
    background: #444;
  }
  &:focus {
    outline:none;
  }
}

.button-main {
  cursor: pointer;
  padding: 1em 4em;
}

.container {
  width: 100%;
  min-height: 80vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  text-align: left;
  z-index: 999;
  border: 1px solid #000;
  padding: 4em;
  width: 600px;
  height: 600px;
  left: 50%;
  top:50%;
  margin-left: -300px;
  margin-top:-300px;
  background: #fff;
  label, input, h3, p {
    text-align: center;
  }
  input {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }
  button {
    padding:1em 4em;
  }
  .nameInput {
    margin-top:60px;
  }
}

/*****************************************/
/*************** UPGRADES ****************/
/*****************************************/

.upgrades {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 150px;
  margin: 0 auto;
  .upgrade + .upgrade {
    margin-left: 20px;
  }
  // Onion
  .one {
    button {
      background: #fff37c;
    }
  }
  // Tomato
  .two {
    button {
      background: tomato;
    }
  }
  // Garlic clove
  .three {
    button {
      background: wheat;
    }
  }
  // Chili
  .four {
    button {
      background: red;
    }
  }
  // Avocado
  .five {
    button {
      background: #8ddd8d;
    }
  }
  button {
    cursor: pointer;
    height: 100px;
    width: 100px;
    &:disabled,
    &[disabled] {
      cursor: not-allowed;
      background: #777;
      color: #444;
    }
  }
}

/*****************************************/
/*************** FEEDBACK ****************/
/*****************************************/
.feedback {
  position: absolute;
  opacity: 0;
  -webkit-animation-name: katching;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0,.28,.12,.49); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}

@-webkit-keyframes katching {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}


/*****************************************/
/********** FUNCTIONAL STYLES ************/
/*****************************************/
.hidden {
  display: none;
}
